/* INTRO */
#screenIntro {
  position: absolute;
  width: 1920px;
  height: 1080px;

  background-image: url(img/synopsis/introSynopsis.jpg);

  z-index: 80;
}

#blackScreenIntro {
  position: absolute;
  width: 1920px;
  height: 1080px;

  background-color: black;
  animation-name: opacity;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* FIN */

#doorOpening {
  position: absolute;

  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;

  background-image: url(img/screen_game/sortie-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 80;
}

#doorOpenGif {
  background-image: url(videos/screen-sortie/porte.gif);
  position: absolute;

  width: 615px;
  height: 297px;
  top: 350px;
  left: 665px;
}
