/* INTRO */
#screenIntro {
  position: absolute;
  width: 1920px;
  height: 1080px;

  background-image: url(img/synopsis/introSynopsis.jpg);

  z-index: 80;
}

#blackScreenIntro {
  position: absolute;
  width: 1920px;
  height: 1080px;

  background-color: black;
  animation-name: opacityBlackScreen;
  animation-duration: 15s;
  /* animation-fill-mode: forwards; */
  animation-delay: 5s;
}
@keyframes opacityBlackScreen {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
}

#logoExode {
  background-image: url(img/logo/headshot-logo2.png);

  position: absolute;
  width: 866px;
  height: 226px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  animation: opacityLogo;
  animation-duration: 3s;
  animation-delay: 1s;
}
@keyframes opacityLogo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
/* FIN */

#doorOpening {
  position: absolute;

  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;

  background-image: url(img/screen_game/sortie-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 80;
}

#doorOpenGif {
  background-image: url(videos/screen-sortie/porte.gif);
  position: absolute;

  width: 615px;
  height: 297px;
  top: 350px;
  left: 665px;
}
