/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    background-color: black;
}
*/
/* body {
    background-image: url(images/Vue_affiche.jpg);
    background-repeat: no-repeat;

    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-position: center center;
    position: relative;

} */


body {
    background: transparent;
}